<?xml version="1.0"?>

<launch>
  <arg name="frame_rate" default="5" />
  <arg name="phase" default="0" />
  <arg name="gpio" default="51" />

    <node pkg="jetson_camera_trigger" type="jetson_camera_trigger" name="jetson_camera_trigger" launch-prefix="taskset -c 0">
         <param name="gpio" value="$(arg gpio)"/>
         <param name="phase" value="$(arg phase)"/>
         <param name="frame_rate" value="$(arg frame_rate)"/>
</launch>
